Description=Le meilleur informaticien

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/opt/golang-myip/build/server.x86_64 --port 80
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target
